<div class="col-md-8 col-xs-12 auth">
  <div class="card">
    <header class="auth-header">
      <h1 class="auth-title">
        Beer List
      </h1>
    </header>
    <hr>
    <div class="auth-content">
      <p class="text-center">Войдите для работы</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Введите ваш email"
            formControlName="email"
          >
          <div
            *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
            class="alert-danger warning-message"
          >
            <span *ngIf="loginForm.get('email')['errors']['email']">
              Введите корректный Email!
            </span>
            <span *ngIf="loginForm.get('email')['errors']['required']">
              Введите пожалуйста Email!
            </span>
          </div>
        </div>

        <div class="form-group"><label for="password">Пароль</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Пароль"
            formControlName="password"
          >
          <div
            *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
            class="alert-danger warning-message"
          >
            <span
              *ngIf="loginForm.get('password')['errors']['minlength'] && loginForm.get('password')['errors']['minlength']['requiredLength']">
              Пароль должен быть {{ loginForm.get('password')['errors']['minlength']['requiredLength'] }} символов.
              Сейчас {{loginForm.get('password')['errors']['minlength']['actualLength']}}
            </span>
            <span *ngIf="loginForm.get('password')['errors']['required']">
              Введите пожалуйста пароль!
            </span>
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-block btn-primary"
            [disabled]="loginForm.invalid"
          >
            Войти
          </button>
        </div>
        <div class="form-group">
          <p class="text-muted text-center">
            Нет аккаунта? <a href="#">Зарегистрироваться!</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

