<hr>
<p class="text-center header">Регистрация</p>
<hr>
<div
  *ngIf="message.text"
  class="alert-{{message.type}} warning-message">
  {{message.text}}
</div>
<form [formGroup]="regForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="Введите email"
      formControlName="email"
      [ngClass]="{'has-error': regForm.get('email').invalid && regForm.get('email').touched}"
    >
    <div
      class="alert-danger warning-message"
      *ngIf="regForm.get('email').invalid && regForm.get('email').touched"
    >
      <span *ngIf="regForm.get('email')['errors']['required']">Email не может быть пустым. </span>
      <span *ngIf="regForm.get('email')['errors']['email']">Введите корректный email. </span>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Введите пароль"
      formControlName="password"
      [ngClass]="{'has-error': regForm.get('password').invalid && regForm.get('password').touched}"
    >
    <div
      *ngIf="regForm.get('password').invalid && regForm.get('password').touched"
      class="alert-danger warning-message"
    >
            <span
              *ngIf="regForm.get('password')['errors']['minlength'] && regForm.get('password')['errors']['minlength']['requiredLength']">
              Пароль должен быть {{ regForm.get('password')['errors']['minlength']['requiredLength'] }} символов.
              Сейчас {{regForm.get('password')['errors']['minlength']['actualLength']}}
            </span>
      <span *ngIf="regForm.get('password')['errors']['required']">
              Введите пожалуйста пароль!
            </span>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Имя</label>
    <input
      type="text"
      class="form-control underlined"
      id="name"
      placeholder="Введите имя"
      formControlName="name"
      [ngClass]="{'has-error': regForm.get('name').invalid && regForm.get('name').touched}"
    >
    <div
      *ngIf="regForm.get('name').invalid && regForm.get('name').touched"
      class="alert-danger warning-message"
    >
      <span *ngIf="regForm.get('name')['errors']['required']">Имя не может быть пустым. </span>
    </div>
  </div>
  <div class="form-group">
    <label for="agree">
      <input
        class="checkbox"
        id="agree"
        type="checkbox"
        formControlName="agree"
      >
      <span>Согласен с правилами</span>
    </label>
    <div
      *ngIf="regForm.get('agree').invalid && regForm.get('agree').touched"
      class="alert-danger warning-message"
    >
      Необходимо согласится с правилами
    </div>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="regForm.invalid"
    >
      Зарегистрироваться
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-center">
      Уже есть аккаунт?
      <a [routerLink]="'/login'">
        Войти!
      </a>
    </p>
  </div>
</form>


